<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>

<div class="auth-container">

    <div class="auth-card">
        <h1>Login</h1>
        <p>Acesse o sistema de gestão</p>

        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" placeholder="exemplo@email.com" id="email" name="email">
        </div>

        <div class="input-group">
            <label for="senha">Senha</label>
            <input type="password" placeholder="••••••••" id="senha" name="senha">
        </div>

        <button id="btnLogar" type="button">Entrar</button>

        <span class="link">
            Não tem conta?
            <a href="register">Criar conta</a>
        </span>
    </div>
</div>
<script src="/js/user/cadastro.js"></script>
</body>
</html>
