
<link rel="stylesheet" href="/css/styles.css">
<div>
    <section id="sobre" class="sobre">
        <div class="sobre-container">
            <h1>Sobre a Nossa Empresa</h1>
            <p>Somos uma empresa dedicada a fornecer soluções inovadoras para o mercado pet, com uma história de sucesso
                que começa em 2005. Nosso foco está em oferecer o melhor para o bem-estar dos animais e seus donos, com
                produtos e serviços de alta qualidade.</p>
            <p>Desde nossa fundação, buscamos sempre estar à frente das tendências do mercado, com uma equipe especializada
                e comprometida em entregar as melhores experiências para nossos clientes.</p>
        </div>
    </section>
</div>